button.btn.btn-success {
    background-image: -webkit-linear-gradient(top,#ffff00 ,#ffff00
 100%);
}

.btn-primary {
    color: red;

    }


.btn-success a {
	background-color: yellow;
}
.btn-success houver {
	background-color: yellow;
}



